body {
     background-color: rgb(253, 251, 251);
     font-size: 18px;
   line-height: 30px;
    
}

header {
    top: 0;
    position: fixed;
}

img {
    text-align: center;
    width: 40%;
    margin: 1%;
    padding: 1%;
    border: 8%;
}
div {
    width: 300px;
    height: 300px;
    display: inline-block;
}
article {
    font-family: fantasy;
    color: red;
  padding-block: 5;
  

}